
.swipper-button-next{
background-color:#FB923C !important ;
}

#desc{
    animation: fadeIn .2s ease-in; 
}
@keyframes fadeIn {  
   from {  
       opacity:0;  
   }  

   to {  
       opacity:1;  
   }  
}

.descOut{
    animation: fadeOut .2s ease-out;
}

@keyframes fadeOut {  
    from {  
        scale:1;  
    }  
 
    to {  
        scale:2;  
    }  
 }
 